/* PHASE 6: Sidebar */




.profile-picture {
    display: block;
    margin-top: -140px;
    position: relative;
}


.profile-nav > li:first-child {
    border-top: 1px solid #ccc;
}
.profile-nav > li {
    border-bottom: 1px solid #ccc;
}
